In [2]:
import pandas as pd

In [3]:
train = pd.read_csv("./preprocessed/training.csv")
test = pd.read_csv("./preprocessed/test.csv")
validation = pd.read_csv("./preprocessed/validation.csv")

print(train.shape)
print(test.shape)
print(validation.shape)

(21042, 12)
(2628, 12)
(2572, 12)

In [25]:
train[train.request == 1].head()

,id,message,request,food,shelter,water,medical_help,medical_products,clothing,search_and_rescue,message_stem,message_lemma
5,16,"Please, we need tents and water. We are in Sil...",1,0,1,1,0,0,0,0,pleas we need tent and water we are in silo th...,please we need tent and water we be in silo th...
7,20,"There's nothing to eat and water, we starving ...",1,1,0,1,1,1,0,0,there s noth to eat and water we starv and thi...,there s nothing to eat and water we starve and...
9,22,"I am in Thomassin number 32, in the area named...",1,0,0,1,0,0,0,0,i am in thomassin number in the area name pyro...,i be in thomassin number in the area name pyro...
10,24,"Let's do it together, need food in Delma 75, i...",1,1,0,0,0,0,0,0,let s do it togeth need food in delma in didin...,let s do it together need food in delma in did...
12,26,"A Comitee in Delmas 19, Rue ( street ) Janvier...",1,1,1,1,0,1,1,0,a comite in delma rue street janvier impass ch...,a comitee in delmas rue street janvier impasse...